{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">DIARY FOR YOU</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'post_list' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
        <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'post_new' %}">Add Post</a>
      </li>
        {% endif %}
        {% if request.user.is_authenticated %}
      <li class="nav-item" style="text-align:right">
        <a class="nav-link " href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
      </li>
        {% else %}
        <li class="nav-item" style="text-align:right">

      </li>
        {% endif %}
    </ul>
  </div>
</nav>
    <title>My App!</title>

  </head>
  <body>

<div class="content container">




  <div class="page-header">
<!--    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
    <h2 class="p-2 bd-highlight"><a href="/">Your Blog List</a></h2>
  </div>
            <div class="row">

            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags}}" role="alert">
                        {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="p-4 text-muted" style="max-width: 100%;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
                <div class="col-">
            {% if request.user.is_authenticated %}
                  <div class="list-group float-right" style = 'margin:10px;padding:10px'>
                  <a href="#" class="list-group-item list-group-item-action active">
                    Shortcuts
                  </a>
                  <a href="{% url 'my_posts' %}" class="list-group-item list-group-item-action">My Blogs</a>
                  <a href="#" class="list-group-item list-group-item-action">Last Added</a>
                  <a href="#" class="list-group-item list-group-item-action">Delete All</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">...</a>
                </div>
            {% endif %}
    </div>
        </div>
     </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  </body>
</html>

